<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4OIix9DaxScvqXhm8eRz_uO6qgKbHbXs</string>
	<key>GCM_SENDER_ID</key>
	<string>351307071676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apna.demanduserapp</string>
	<key>PROJECT_ID</key>
	<string>apnademand-cb47f</string>
	<key>STORAGE_BUCKET</key>
	<string>apnademand-cb47f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351307071676:ios:b74dd365bdbf89151390b9</string>
</dict>
</plist>
